@page
@model VaII.Pages.Posts.DetailsModel
@using System.Web.Helpers;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-center">Details</h1>

<div class="container border d-flex justify-content-center" style="padding: 10px">
<div class="col-md-4">
    <div class="row">
        <dl class="container border text-center" style="padding: 10px">
            <dt >
                @Html.DisplayNameFor(model => model.Post.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Post.Title)
            </dd>
            <dt >
                @Html.DisplayNameFor(model => model.Post.Description)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Post.Description)
            </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Location.Country)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Location.Country)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Location.Place)
                </dt>
            <dd>
                @Html.DisplayFor(model => model.Location.Place)
            </dd>
            @if (Model.AdvancedSettings != null)
            {
                <dt >
                    @Html.DisplayNameFor(model => model.AdvancedSettings.DateShot)
                </dt>
                <dd >
                    @Html.DisplayFor(model => model.AdvancedSettings.DateShot)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AdvancedSettings.Aperture)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AdvancedSettings.Aperture)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AdvancedSettings.ShutterSpeed)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AdvancedSettings.ShutterSpeed)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AdvancedSettings.ISOSensitivity)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AdvancedSettings.ISOSensitivity)
                </dd>
                 <dt>
                @Html.DisplayNameFor(model => model.Post.Author)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Post.Author)
            </dd>
            
            }
                
        </dl>
    </div>

        <div class="col-md-4 container d-flex justify-content-center">
            @{

                if (Model.Post.Content != null)
                {
                    WebImage photo = new WebImage(Model.Post.Content);
                    photo.Resize(400, 400, true, true);
                    var thumbnail = photo.GetBytes();


                    <img class="m-auto" src="data:image;base64,@System.Convert.ToBase64String(thumbnail)" />
                
                }
            }
    </div>
    </div>
</div>


