@page
@using System.Web.Helpers;
@using VaII_Sem.Models

@model VaII.Pages.Posts.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<h1 class="text-center">Your Posts</h1>

<div class="text-center"  style="padding: 10px">
    <a class="align-content-center" asp-page="Create">Create New</a>
</div>
<div class="container border d-flex justify-content-center " style="padding: 10px">
    <div class="table-responsive-lg">
        <table class="table">
            <thead>
            <tr>
                <th class="col-2" style="padding: 10px">
                    @Html.DisplayNameFor(model => model.Post[0].Title)
                </th>
                    <th class="col-2" style="padding: 10px">
                    @Html.DisplayNameFor(model => model.Post[0].Description)
                </th>
                    <th class="col-1" style="padding: 10px">
                    @Html.DisplayNameFor(model => model.Post[0].Published)
                </th >
                    <th class="col-2" style="padding: 10px">
                    @Html.DisplayNameFor(model => model.Post[0].Latest)
                </th>
                    <th class="col-1" style="padding: 10px">
                    @Html.DisplayNameFor(model => model.Post[0].Content)
                </th>
                <th class="col-4"></th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.Post)
            {
                <tr>
                        <td style="padding: 10px" class="col-2">
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                        <td style="padding: 10px" class="col-2">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                        <td style="padding: 10px" class="text-center">
                        @Html.DisplayFor(modelItem => item.Published)
                    </td>
                        <td style="padding: 10px">
                        @Html.DisplayFor(modelItem => item.Latest)
                    </td>
                    @{
                        if (item.Content != null)
                        {
                            WebImage photo = new WebImage(item.Content);
                            photo.Resize(50, 50, true, true);
                            var thumbnail = photo.GetBytes();


                            <td>
                                <img src="data:image;base64,@System.Convert.ToBase64String(thumbnail)"/>
                            </td>
                        }
                    }

                        <td class="text-center" >
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> - 
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> -
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>

            }
            </tbody>
        </table>
    </div>
</div>
